<%= yield %>

<div id="header">
	<!--LOGO-->
	<a id="logo" href="index.html"><img src="images/logo.png" alt="The Navigator" /></a> 
	<!--DESCRIPTION-->
	<h2 id="description"></h2>	
	<!--NAVIGATION MENU-->
	<div id="navigation">
		<ul id="dropmenu" class="menu">
			<!--CURRENT MENU ITEM (class name = current-menu-item)-->
			<li class="current-menu-item"><a href="/">Home</a>
			<ul class="sub-menu">
				<li><a href="#">Africa</a></li>
				<li><a href="#">Asia</a></li>
				<li><a href="#">Australia</a></li>
				<li><a href="#">Europe</a></li>
				<li><a href="#">North America</a></li>
				<li><a href="#">South America</a></li>
				<li><a href="#">View All</a></li>
			</ul>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a target="_blank" href="http://localhost:3000/users/sign_in">Sign In </a></li>
		</ul>
	</div>	
</div><!--end header-->



<div id="loading"></div>

<div id="contentContainer">
<div id="content">

<div id="main">
	<div id="handle"></div>
	<div id="closeBox"></div>
	
	<h2 class="entrytitle">About</h2>
	
	<!--BREADCRUMBS-->
	<div id="crumbs"><a href="#">Home</a> &nbsp;/&nbsp; <span class="current">About</span></div>
	
	<!--PAGE CONTENT-->	
	<div class="entry">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat libero et libero semper eu elementum odio rutrum. Fusce elementum mi nec urna tristique laoreet. Vestibulum magna massa, volutpat et pellentesque quis, pellentesque tincidunt turpis. Vestibulum vel est arcu, ut eleifend sem. Aliquam lectus mi, commodo id tempus eu, volutpat sit amet massa. Sed ultricies porttitor mauris id vulputate. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat libero et libero semper eu elementum odio rutrum. Fusce elementum mi nec urna tristique laoreet. Vestibulum magna massa, volutpat et pellentesque quis, pellentesque tincidunt turpis. Vestibulum vel est arcu, ut eleifend sem. Aliquam lectus mi, commodo id tempus eu, volutpat sit amet massa. Sed ultricies porttitor mauris id vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat libero et libero semper eu elementum odio rutrum. Fusce elementum mi nec urna tristique laoreet. Vestibulum magna massa, volutpat et pellentesque quis, pellentesque tincidunt turpis. Vestibulum vel est arcu, ut eleifend sem. Aliquam lectus mi, commodo id tempus eu, volutpat sit amet massa. Sed ultricies porttitor mauris id vulputate. </p>								
	</div><!--end entry-->

	<!--COMMENTS (NOT FUNCTIONAL)-->
	<div id="commentToggle" class="toggleButton closed"><span>+</span>2 Comments</div>
    <div class="clear" id="commentsection">
			
		<ol class="commentlist">
			<li class="comment">
				<div class="comment-body">
					<div class="comment-author">
						<img alt='' src='images/avatar.jpg' class='avatar avatar-32 photo'/>		
						<cite class="fn">themolitor</cite> <span class="says">says:</span>		
					</div>
					<div class="commentmetadata">July 7, 2011 at 10:42 pm</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat libero et libero semper eu elementum odio rutrum. Fusce elementum mi nec urna tristique laoreet. Vestibulum magna massa, volutpat et pellentesque quis, pellentesque tincidunt turpis.</p>
				</div>
			</li>
			<li class="comment">
				<div class="comment-body">
					<div class="comment-author">
						<img alt='' src='images/avatar.jpg' class='avatar avatar-32 photo'/>		
						<cite class="fn">themolitor</cite> <span class="says">says:</span>		
					</div>
					<div class="commentmetadata">July 7, 2011 at 10:42 pm</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat libero et libero semper eu elementum odio rutrum. Fusce elementum mi nec urna tristique laoreet. Vestibulum magna massa, volutpat et pellentesque quis, pellentesque tincidunt turpis.</p>
				</div>
			</li>
		</ol><!--end commentlist-->

		<div id="respond">
			<h3>Leave a Reply</h3>
			<form action="#" method="post" id="commentform">
			<p>
				<input type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
				<label for="author"><small>Name (required)</small></label>
			</p>
			<p>
				<input type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
				<label for="email"><small>Email (required)</small></label>
			</p>
			<p>
				<input type="text" name="url" id="url" value="" size="22" tabindex="3" />
				<label for="url"><small>Website</small></label>
			</p>
			<p><textarea name="comment" id="comment" tabindex="4"></textarea></p>
			<p>
				<input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
				<input type='hidden' name='comment_post_ID' value='56' id='comment_post_ID' />
				<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
			</p>
			</form>
		</div><!--end respond-->
    </div><!--end commentsection-->
</div><!--end main-->

<script type="text/javascript">
//FULL SCREEN IMAGE BACKGROUND - CHANGE IMAGE URL
jQuery.noConflict(); jQuery(document).ready(function(){jQuery.backstretch("images/thumbs/space.jpg", {speed: 150});});
</script>

<div id="sidebar">
<ul>
<!--WIDGET 1-->
<li class="widget">
	<h2 class="widgettitle">Sponsors</h2>			
	<a href="http://themeforest.net/user/themolitor/portfolio?ref=themolitor">
		<img src="http://www.lakewaparks.com/wp/wp-content/uploads/2011/07/tf_260x120.gif" alt="ThemeForest" />
	</a>
</li><!--end widget-->

<!--WIDGET 2-->
<li class="widget">
	<h2 class="widgettitle">Text Widget</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis aliquet commodo. Sed consequat lorem a quam fermentum auctor. Donec quis nisi mi. In vel justo sem, quis iaculis tellus. Sed molestie imperdiet sapien, sed adipiscing tellus imperdiet at. Donec id orci sed elit eleifend luctus.</p>
</li><!--end widget-->

<!--WIDGET 3-->
<li class="widget">
	<h2 class="widgettitle">Tags</h2>
	<div class="tagcloud">
		<a href='#'>Africa</a>
		<a href='#'>All</a>
		<a href='#'>Argentina</a>
		<a href='#'>Arizona</a>
		<a href='#'>Asia</a>
		<a href='#'>Australia</a>
		<a href='#'>Brazil</a>
		<a href='#'>China</a>
		<a href='#'>Egypt</a>
		<a href='#'>England</a>
		<a href='#'>Europe</a>
		<a href='#'>France</a>
		<a href='#'>India</a>
		<a href='#'>Italy</a>
		<a href='#'>Mexico</a>
		<a href='#'>New York</a>
		<a href='#'>North Africa</a>
		<a href='#'>North America</a>
		<a href='#'>Paris</a>
		<a href='#'>Rome</a>
		<a href='#'>South America</a>
		<a href='#'>UK</a>
		<a href='#'>US</a>
	</div>
</li><!--end widget-->
</ul>
<div class="clear"></div>
</div><!--end sidebar-->

<div class="clear"></div>
</div><!--end content-->
</div><!--end contentContainer-->